<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <UserName>$FaceBlurAPI3</UserName>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>x64</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://faceblurapi3.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/09990fb9-fee1-4c08-9a82-9f6778d24498/resourcegroups/FACE-BLUR/providers/Microsoft.Web/sites/FaceBlurAPI3</ResourceId>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://faceblurapi3.scm.azurewebsites.net/</PublishUrl>
    <SCMUrl>https://faceblurapi3.scm.azurewebsites.net/</SCMUrl>
    <TargetFramework>netcoreapp3.1</TargetFramework>
    <SelfContained>false</SelfContained>
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishSingleFile>False</PublishSingleFile>
    <PublishReadyToRun>False</PublishReadyToRun>
  </PropertyGroup>
</Project>